<include file="Public:header" />
<link rel="stylesheet" href="/Public/css/login.css?<?php echo rand(); ?>">

<body class="login-bg">

    <div class="login layui-anim layui-anim-up" style="min-height: auto;">
        <div class="message">非遗未来SAAS管理系统</div>
        <form class="layui-form">
            <input type="hidden" name="id" value="{$id}">
            <input type="hidden" name="token" value="{$token}">
            <input name="password" lay-verify="required" placeholder="请输入新密码" type="password" class="layui-input mm"
                autocomplete="off">
            <hr class="hr20">
            <input name="password2" lay-verify="required" placeholder="请确认新密码" type="password" class="layui-input mm"
                autocomplete="off">
            <hr class="hr20">
            <input value="提交" lay-submit="" lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20">
            <p class="zc" style="width: 100%;text-align: right;"><a href="{:U('Login/index')}">账号登陆</a></p>
        </form>
    </div>

    <script>
        $(function () {
            layui.use('form', function () {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;
                //监听提交
                form.on('submit(login)', function (data) {
                    var data = data.field;
                    console.log(data);
                    $.ajax({
                        type: "post",
                        url: "{:U('Login/dopassword')}",
                        data: data,
                        dataType: "json",
                        success: function (data) {
                            if (data.status == 1) {
                                layer.msg(data.info, { icon: 6, time: 1000 }, function () {
                                    location.href = data.url;
                                });
                                return false;
                            } else {
                                layer.msg(data.info, { icon: 5, time: 1000 }); return false;
                            }
                        }

                    });
                    return false;
                });
            });
        })
    </script>
    <!-- 底部结束 -->
</body>

</html>