<include file="Public:header"/>
<body>
<div class="layui-card">
    <form class="layui-form layui-form-pane">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <div class="layui-tab-content" >
                <div class="layui-tab-item layui-show">
                    <input type="hidden" name="id" value="{$data.id}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class='x-red'>*</span>Banner名称
                        </label>
                        <div class="layui-input-block">
                            <input type="text" name="name" autocomplete="off" value="{$data['name']}" lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class='x-red'>*</span>图片
                        </label>
                        <div class="layui-input-block">
                            <div class="layui-upload">
                              <button type="button" class="layui-btn" id="upload_pic1">上传图片</button><span>（最优图片尺寸：700*200）</span>
                              <div class="layui-upload-list" id="upload_pic_list1">
                                <?php if($data['pic']){ ?>
                                <p class="upload_pic"><a href="{$data['pic']}" target="_blank"><img class="upload_img" src="{$data['pic']}"></a><a class="uploda_del" onClick="return upload_del(this);"></a><input type="hidden" name="pic" value="{$data['pic']}"></p>
                                <?php } ?>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="link" class="layui-form-label">
                            图片链接
                        </label>
                        <div class="layui-input-block">
                            <input type="text" name="url" autocomplete="off" value="{$data['url']}" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="link" class="layui-form-label">
                            推荐度
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" name="displayorder" autocomplete="off" value="{$data['displayorder']}" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class='x-red'>*</span>显示位置
                        </label>
                        <div class="layui-input-block">
                            <volist name="arr_bannerwz" id="v">
                            <input type="checkbox" name="weizhi[]" value="{$key}" lay-skin="primary" title="{$v}" <?php if(in_array($key,$data['weizhi'])){ ?>checked="checked"<?php } ?>>
                            </volist>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class='x-red'>*</span>是否显示
                        </label>
                        <div class="layui-input-block">
                            <input type="radio" name="isrecommand" value="1" title="是" <?php if($data['isrecommand']==1){ ?>checked="checked"<?php } ?>>
                            <input type="radio" name="isrecommand" value="0" title="否" <?php if($data['isrecommand']==0){ ?>checked="checked"<?php } ?>>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn" type="button" lay-filter="add" lay-submit="">
                            保存
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer','upload'],
		function() {
			$ = layui.jquery;
			var form = layui.form,
			layer = layui.layer;
            var upload = layui.upload;
			
			var loadingIndex;
            var uploadInst = upload.render({
			  elem: '#upload_pic1'
			  ,url: "{:U('Ajax/uploadimg')}" //改成您自己的上传接口
			  ,method: 'post'
			  ,done: function(res){
				  layer.close(loadingIndex);
				  //如果上传失败
				  if(res.code > 0){
					  return layer.msg(res.msg);
				  }else{
					  //上传成功
					  var html='<p class="upload_pic"><a href="'+res.src+'" target="_blank"><img class="upload_img" src="'+res.src+'"></a><a class="uploda_del" onClick="return upload_del(this);"></a><input type="hidden" name="pic" value="'+res.src+'"></p>';
					  $('#upload_pic_list1').html(html);
				  }
			  }
			});
			//监听提交
			form.on('submit(add)',function(data) {
				var data = data.field;
				$.ajax({
					type:"post",
					url:"{:U('Setting/dobanneradd')}",
					data:data,
					dataType:"json",
					success:function(data){
						if(data.status==1){
							layer.msg(data.info, {icon: 6,time:1000},function () {
								var index = parent.layer.getFrameIndex(window.name);
								parent.layer.close(index);
								window.parent.location.reload();
							});
							return false;
						}else{
							layer.msg(data.info,{icon:5,time:1000});return false;
						}
					}
	
				});
				return false;
			});

		});
</script>

</body>
</html>