<include file="Public:header"/>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a><cite>用户管理</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onClick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block" style="width:120px;">
                            <select name="sel_status">
                            <option value="0">状态</option>
                            <option value="1"<?php if($sel_status==1){ ?> selected="selected"<?php } ?>>已启用</option>
                            <option value="2"<?php if($sel_status==2){ ?> selected="selected"<?php } ?>>已禁用</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block" style="width:120px;">
                            <select name="sel_huiyuan">
                            <option value="0">是否成为会员</option>
                            <option value="1"<?php if($sel_huiyuan==1){ ?> selected="selected"<?php } ?>>是</option>
                            <option value="2"<?php if($sel_huiyuan==2){ ?> selected="selected"<?php } ?>>否</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="keywords" value="{$keywords}"  placeholder="请输入用户名/姓名/手机号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                        <div class="layui-inline layui-show-xs-block index_counts">
                            <p class="counts">共<span>{$count}</span>条信息</p>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th width="80">头像</th>
                            <th>昵称</th>
                            <th>公司名称</th>
                            <th>姓名</th>
                            <th>手机号</th>
                            <th>职务</th>
                            <th>邮箱</th>
                            <th width="80">状态</th>
                            <th width="50">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="datalist" id="v">                        
                        <tr>
                            <td><img src="<?php if($v['tx']){ ?>{$v['tx']}<?php }else{ ?>/Public/images/user_tx.jpg<?php } ?>" style="width:80px;"></td>
                            <td>{$v['username']}<?php if($v['huiyuan']==1){ ?><font style="color: #09b4c5;"> 【会员】</font><?php } ?></td>
                            <td>{$v['companyname']}</td>
                            <td>{$v['name']}</td>
                            <td>{$v['phone']}</td>
                            <td>{$v['zhiwu']}</td>
                            <td>{$v['email']}</td>
                            <td class="td-status">
                            <?php if($v['status']==1){ ?><span class="layui-btn layui-btn-normal " > 已启用 </span><?php } ?>
                            <?php if($v['status']==2){ ?><span class="layui-btn layui-btn-danger " > 已禁用 </span><?php } ?>
                            </td>
                            <td class="td-manage">
                                <a title="编辑" href="javascript:;" onClick="xadmin.open('编辑','{:U('User/useradd',array('id'=>$v['id']))}','700')"
                                   class="ml-5" style="text-decoration:none">
                                    <i class="layui-icon">&#xe642;</i>
                                </a>
                            </td>
                        </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="layui-card-body ">
                    <div class="page">
                        {$page}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['layer','form','element'], function(){
        var layer = layui.layer;
        var form = layui.form;
        var element = layui.element;
		element.render();
        form.on("submit(sreach)",function(data){
            $('input[name=switch]').val(1);
            // console.log('111');return false;
        })
        form.on("submit(export)",function(data){
            $('input[name=switch]').val(2);
            // console.log('222');return false;
        })
    });
</script>
</html>